.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.container div {
    width: calc(100% / var(--grid-length));
    aspect-ratio: 1 / 1; 
    box-sizing: border-box;
    border: 1px solid black;
    /* opacity: 0; */
}

button {
    width: 100px;
    margin: 10px auto;
    display: block;
}